<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>Контактная информация</legend>
        <label>Имя<input type="text" required></label>
        <label>E-mail<input type="email" required></label>
        <p> Пол:</p>
        <label>Муж<input name="g" type="radio"></label>
        <label>Жен<input name="g" type="radio"></label>
        <button>Отправить</button>
        </fieldset>
</body>
</html>